.header {
    height: 50px;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;    
    -webkit-box-shadow: 0 3px 2px #777;
	-moz-box-shadow: 0 3px 2px #777;
	box-shadow: 0 3px 2px #777;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}